<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../../dist/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!-- justify-between -->
    <div class="flex justify-between">
      <div class="m-4 w-auto rounded-lg bg-blue-400 p-9 text-white">1</div>
      <div class="m-4 w-auto rounded-lg bg-blue-400 p-9 text-white">2</div>
      <div class="m-4 w-auto rounded-lg bg-blue-400 p-9 text-white">3</div>
    </div>
    <!-- flex-row -->
    <div class="flex flex-row">
      <div class="m-1 flex-1 bg-blue-400 p-2 text-center text-white">1</div>
      <div class="m-1 flex-1 bg-blue-400 p-2 text-center text-white">2</div>
      <div class="m-1 flex-1 bg-blue-400 p-2 text-center text-white">3</div>
      <div class="m-1 flex-1 bg-blue-400 p-2 text-center text-white">4</div>
    </div>
    <!-- flex-wrap -->
    <div class="flex flex-wrap">
      <div class="m-1 w-72 bg-blue-400 p-2 text-center text-white">1</div>
      <div class="m-1 w-72 bg-blue-400 p-2 text-center text-white">2</div>
      <div class="m-1 w-72 bg-blue-400 p-2 text-center text-white">3</div>
    </div>
  </body>
</html>
