<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="item">
        <h2>横並び見出し</h2>
        <p>横並びレイアウトをFlexboxで実装します。</p>
      </div>
      <div class="item">
        <h2>横並び見出し</h2>
        <p>横並びレイアウトをFlexboxで実装します。</p>
      </div>
      <div class="item">
        <h2>横並び見出し</h2>
        <p>横並びレイアウトをFlexboxで実装します。</p>
      </div>
    </div>
  </body>
</html>
